aiohttp
aiohttp-socks
httpx
requests
beautifulsoup4
lxml
selectolax
tldextract
furl
uvloop
aiolimiter
tenacity
pydantic
pyyaml
loguru
rich
tqdm
redis
psycopg2-binary
stem
pysocks
fake-useragent
playwright
selenium
pytest
pytest-asyncio
